.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
}

.search-container h2 {
    padding: 20px 0;
}

.search-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-row input {
    border-radius: 8px;
}

.search-row input[type="tel"]::placeholder {
  text-align: center;
  font-size: 16px;
}

.orders-container {
    padding-top: 30px;
    width: 100%;
}

.order-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .order-list li {
    margin-bottom: 20px;
  }
  
  .order-list li > ul {
    margin: 0;
    padding: 0;
  }
  
  .order-list li > ul > li {
    margin-bottom: 8px;
  }